html {
	background-color: rgba(60, 60, 60, 1);
	font-family: verdana;
	font-size: 12px;
}

body {
	width: 1024px;
	margin: 8px auto auto auto;
}

div.Container {
	width: 100%;
	height: 512px;
	
	background-color: rgba(200, 200, 200, 1);
	
	border-radius: 4px;
}

div.Container div.Content {
	vertical-align: top;
	display: inline-block;
	height: 100%;
	margin: 4px 0 4px 0;
	padding: 0;
}

div.Container div.Content.Left {
	margin-left: 4px;
	width: 246px;
}

div.Container div.Content.Right {
	width: 766px;
	margin-right: 4px
}

div.Container div.Contrast {
	background-color: rgba(240, 240, 240, 1);
	border-radius: 4px;
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 1);
	color: rgba(60, 60, 60, 1);
	overflow: hidden;
	position: relative;
}

div.Container div.Contrast + div.Contrast {
	margin-top: 4px;
}

div.Container div.Content.Left div.Contrast ul {
	margin: 2px;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
}
div.Container div.Content.Left div.Contrast ul li{
	width: 100%;
	position: relative;
	min-height: 21px;
	line-height: 21px;
	margin: 0;
	padding: 0 4px 0 4px;
}
div.Container div.Content.Left div.Contrast ul li.User {
	cursor: pointer;
}
div.Container div.Content.Left div.Contrast ul li.User:hover {
	background-color: rgba(60, 60, 60, 0.45);
}
div.Container div.Content.Left div.Contrast ul li.Channel {
	display: block;
}
div.Container div.Content.Left div.Contrast ul li.Channel ul {
	
}
div.Container div.Content.Left div.Contrast ul li.Channel ul li.User{
	margin: 0 0 0 4px;
	padding: 0 0 0 4px;
	border-left: solid 1px rgba(60,60,60,1);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
div.Container div.Content.Left div.Contrast ul li.User div.Controls {
	position: absolute;
	top: 0px;
	right: 12px;
}
div.Container div.Content.Left div.Contrast ul li:nth-child(2n+1) {
	background-color: rgba(250, 250, 250, 1);
}
div.Container div.Content.Left div.Contrast.SearchUser input[type=text] {
	width: 238px;
	height: 24px;
	margin: 4px;
}
div.Container div.Content.Right div.Contrast.Output {
	height: 402px;
}
div.Container div.Content.Right div.Buttons {
	height: 22px;
	margin: 2px 0 2px 0;
}
div.Container div.Content.Right div.Contrast.Input {
	height: 76px;
	position: relative;
}
div.Container div.Content.Right div.Contrast.Input div.Content {
	width: 700px;
	padding-left: 2px;
	min-height: 70px;
	height: 70px;
	overflow-y: scroll;
	border: none;
	outline: none;
}
div.Container div.Content.Right div.Contrast.Input div.Button.Send {
	position: absolute;
	top:2px;
	right:2px;
	height: 70px;
	line-height: 70px;
	width: 50px;
}
.Button {
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
	color: rgba(240, 240, 240, 1);
	border: solid 1px rgba(60, 60, 60, 1);
	border-radius: 4px;
	padding: 0 4px 0 4px;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
}
.Button:hover {
	background: rgb(0,183,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
.Button:active {
	box-shadow: inset 0 0 2px rgba(60,60,60,1);
}
.Icon {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	min-width: 19px;
	min-height: 12px;
	display: inline-block;
}
.Camera {
	background-image: url(camera.png);
}
.Talk {
	background-image: url(talk.png);
}
label {
	position: absolute;
	top: 2px;
	right: 1px;
	bottom: 1px;
	left: 4px;
	z-index: 1;
	height: 20px;
	padding: 4px;
	line-height: 20px;
	color: #999;
	white-space: nowrap;
	cursor: text;
	-webkit-transition: opacity .1s,font-size .1s;
	-moz-transition: opacity .1s,font-size .1s;
	-o-transition: opacity .1s,font-size .1s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
input[type=text] {
	box-shadow: 0 0 2px rgba(60,60,60,1);
	padding: 0 4px 0 4px;
	height: 20px;
	line-height: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	outline: none;
	width: 100%;
	border: none;
	border-radius: 2px;
}