body {
    background-color: #242736;
    font-family: tahoma;
}

.Container {
    width: 1024px;
    margin: auto;
}

.Card {
    width: 1024px;
    margin: 64px auto 0 auto;;
    padding: 16px;
    text-align: center;
}



.Card .Content {
    display: inline-block;
    background-color: inherit;
    margin: 0 64px 0 0;
    width: auto;
}

.Card .Content.Presentation {
    width: 512px;
    vertical-align: top;
    color: #FEFEFE;
    font-size: 16px;
}

.Card .Content.Presentation .Featurings {
    margin-top: 64px;
}

.Card .Content.Presentation .Featurings .Featuring {
    height: 50px;
    line-height: 50px;
}
.Card .Content.Presentation .Featurings .Featuring span {
    vertical-align: top;
    width: 128px;
    display: inline-block;
}

.Form {
    margin-bottom: 16px;
    width: 280px;
}

.Form h3 {
    padding: 5px;
    margin: 2px;
    border-bottom: solid 1px #999;
    font-weight: normal;
}

.Field {
    padding: 4px;
    position: relative;
}

.Field label {
    position: absolute;
    top: 4px;
    right: 1px;
    bottom: 1px;
    left: 4px;
    z-index: 1;
    height: 20px;
    padding: 4px;
    font-size: 13px;
    line-height: 20px;
    color: #999;
    white-space: nowrap;
    cursor: text;
    -webkit-transition: opacity .1s,font-size .1s;
    -moz-transition: opacity .1s,font-size .1s;
    -o-transition: opacity .1s,font-size .1s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 128px;
}

.Field input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #56b4ef;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6);
    outline: none;
}

.Field input[type="text"], input[type="password"] {
    height: 26px;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    -moz-box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    padding-left: 4px;
    border-radius: 4px;
}
.Form input[type="submit"] {
    color: #fff;
    background-color: #0271bf;
    border-color: #096eb3;
    text-shadow: 0 -1px 1px rgba(0,0,0,.25);
    border-radius: 4px;
    border-width: 1px;
    height: 28px;
    font-weight: bold;
    min-width: 64px;
    cursor: pointer;
}
.Form input[type="submit"]:hover {
    color: #fff;
    background-color: #0271bf;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#2daddc),to(#0271bf));
    background-image: -moz-linear-gradient(#2daddc,#0271bf);
    background-image: -ms-linear-gradient(#2daddc,#0271bf);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2daddc),color-stop(100%,#0271bf));
    background-image: -webkit-linear-gradient(#2daddc,#0271bf);
    background-image: -o-linear-gradient(#2daddc,#0271bf);
    background-image: linear-gradient(#2daddc,#0271bf);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',endColorstr='#0271bf',GradientType=0);
    border-color: #096eb3;
}
.Form .Field .Result {
    height:100%;
    line-height: 20px;
    margin: 2px 0 2px 4px;
    display: inline-block;
    font-size: 14px;
    padding-left: 16px;
    background-position: 0 50%;
}
.Form .Field .Error {
    color: red;
    background-image: url(../image/error.png);
    background-repeat: no-repeat;
}
.Form .Field .Accept {
    color: green;
    background-image: url(../image/accept.png);
    background-repeat: no-repeat;
}

.Content {
    color: #000000;
    background-color: #EEEEEE;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: justify;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 8px;
    width: 100%;
    padding: 4px;
}

.Content.Middle {
    width: 100%;
}

.Content.Middle h3 {
    background-color: #2B6BA2;
    background-image: url(star.png);
    background-repeat: no-repeat;
    background-position: 2px 50%;
    width: 1024px;
    color: #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    margin: 0 -10px 4px -10px;
    padding: 0 0 0 20px;
    height: 20px;
    line-height: 20px;
}

.Content.Middle .Join {
    margin: auto;
}

.Content.Middle form tr td {
    padding: 5px;
}

.Content.Middle form tr td input[type="text"] {
    margin-left: 16px;
    width: 220px;
}

.Content.Middle form tr td input[type="password"] {
    margin-left: 16px;
    width: 220px;
}

.Left {
    width: 290px;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
}

.Right {
    width: 720px;
    display: inline-block;
    vertical-align: top;
}

.Content h3 {
    padding: 5px;
    margin: 2px;
    border-bottom: solid 1px #999;
    font-weight: normal;
}

.Profile {

    width: 100%;
}

.Profile img {
    width: 64px;
}

.Users {
    width: 100%;
}

.User {
    padding: 2px 5px 2px 5px;
    position: relative;
    height: 21px;
    font-weight: bold;
    cursor: pointer;
    line-height: 21px;
    margin: 4px 0 0 0;
}
.User:hover {
    border-color: #2B6BA2;
    background-color: rgb(234, 238, 255);
}
.User+.User {
    margin-top: 0px;
    border-bottom: #DCDCEF;
}
.User:nth-child(2n) {
    background-color: #fff;
}
.User:nth-child(2n+1) {
    background-color: rgba(218, 229, 255, 0.3);
}
.Online {
    color: green;
}
.Offline {
    color: red;
}

.User .DisplayName {
    width: 100%;
}

.User .ChatMessageNotification {
    width: auto;
}

.SearchResult {

}
.SearchResult .User {
    padding: 2px 5px 2px 5px;
    position: relative;
    height: 21px;
    font-weight: bold;
    cursor: pointer;
}
.SearchOutput .User a.Add {
    background-image: url(../image/add.png);
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 4px;
    text-decoration: none;
    border: none;
}
.Chat {
    position: relative;
    width: 100%;
    display: none;
}

.Chat div.Output {
    height: 400px;
    padding: 5px 10px 5px 10px;
    position: relative;
    overflow-y: scroll;
}

.Chat div.Header {
    position: absolute;
    height: auto;
    z-index: 128;
    left: 10px;
    top: 10px;
}

.Chat div.Header div {
    display: inline-block;
}

.Chat div.Header video {
    height: 180px;
    margin: 5px;
    display: inline-block;
}

.Chat div.Output div.TextContent {
    max-height:100%;
    padding: 5px;
    position: absolute;
    bottom:12px;
    max-width: 90%;
}
.Chat div.Output div.Notification {
    height: 12px;
    padding: 5px;
    position: absolute;
    bottom:0px;
    max-width: 90%;
}
.Chat .Input {
    height: 64px;
    padding: 5px;
    text-align: left;
    overflow-y: scroll;
}

.Contrast {
    background-color:#FEFEFE;
    border-radius: 5px;
    border: 1px solid #DCDCEF;
}

.Error {
    color: #FA5858;
    font-size: 12px;
}

/* FUCK DEFAULT LAYOUT */

table {
    padding: 0;
    margin: 0;
}
table tr {
    padding: 0;
    margin: 0;
}
table td{
    padding: 0;
    margin: 0;
}
.Table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25),0 -1px 0 rgba(0,0,0,0.1) inset;
    background: #00A0D1;
    border-radius: 4px;
}
.Table ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    border-left: solid 1px #dddddd;
}
.Table ul li[aria-selected=true] a {
    border-radius: 4px;
    background-color: rgba(200, 200, 200, 0.5);
}
.Table ul li:first-child {
    border-left: none;
}
.Table ul li a {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 0 50%;
    line-height: 16px;
    height: 16px;
    text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;
    outline: none;
    color: #fff;
    height: 21px;
    line-height: 21px;
    font-weight: bold;
    border-color: #096eb3;
    text-shadow: 0 -1px 1px rgba(0,0,0,.25);
    border-radius: 4px;
    border-width: 1px;
    margin: 4px;
    padding: 2px 4px 2px 4px;
}

.AcceptFriendRequest {
    background-image: url(../image/add.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 4px;
    top: 4px;
    text-decoration: none;
    border: none;
    right: 4px;
}
.RejectFriendRequest {
    background-image: url(../image/reject.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    text-decoration: none;
    border: none;
    right: 24px;
}